section{
    padding: 40px;
    text-align: center;

    h1 {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: bold;
    }
    
    p a {
        color: #666;
    }
    
    .form-control {
        display: block;
        margin: 20px auto;
        text-align: center;
        width: 350px;
        height: 40px;
        background-color: #f2f2f2;
    }
    
    button {
        width: 350px;
        height: 50px;
        border: none;
        background-color: #000;
        color: #fff;
    }

    #line{
        padding: 20px;

        hr{
            border: 1px solid #000;
            width: 100%;
        }

        #text{
            padding: 5px;
        }
    }
}